.header {
    padding: 10px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 24px;
}


.nav__link {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.nav__right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav__item {
  position: relative;
}

/* кнопка */
.nav__toggle {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

/* иконка */
.nav__icon {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.nav__search {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
}

.nav__search-btn {
  cursor: pointer;
  position: relative;
  z-index: 1100;
  transition: .2s ease;
}

.nav__search-btn:hover .nav__icon {
  transform: scale(1.2);
}

.nav__search-input {
  position: absolute;
  right: 0;
  min-width: 0;
  opacity: 0;
  outline: none;
  border: 1px solid #34AE6B;
  border-radius: 4px;
  padding: 8px 10px;
  transition: 0.3s ease;
  z-index: 1001;
  background-color: #FFF;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.nav__search.active {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* активное состояние */
.nav__search.active .nav__search-input {
  width: 240px;
  opacity: 1;
  right: 50px;
}

/* фокус */
.nav__search-input:focus {
  border-color: #34AE6B;
}



/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 220px;
  padding: 12px 0;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: 0.3s;
  z-index: 100;
}


.nav__item--open .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown__link {
  display: block;
  padding: 10px 20px;
  transition: 0.2s;
}

.dropdown__link:hover {
  background: #f5f5f5;
}

.burger {
  width: 40px;
  height: 40px;

  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}


.burger span {
  width: 24px;
  height: 2px;
  background: #1E1E1E;
  transition: 0.3s;
  border-radius: 2px;
}


.burger.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}



/* breadcrumbs   */

.breadcrumbs {
  padding: 20px 0;
  font-size: 14px;
  color: #666;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  gap: 8px;
}


.breadcrumbs-icon {
  width: 20px;
  height: 20px;
  color: #34AE6B;
}


/* разделитель */
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  margin-left: 6px;
  color: #1E1E1E;
}

/* ссылки */
.breadcrumbs__link {
  color: #1E1E1E;
  text-decoration: none;
  transition: 0.2s;
}

.breadcrumbs__link:hover {
  color: #34AE6B;
}

.breadcrumbs__link--home {
  color: #34AE6B;
}

.breadcrumbs__link--home:hover {
  color: #2f8f59;
}

/* текущая страница */
.breadcrumbs__current {
  color: #000;
  font-weight: 500;
}

/* hero */
.hero {
  min-height: clamp(600px, 80vh, 900px);
  display: flex;
  align-items: center;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.hero__content {
  position: relative;
  z-index: 10;
  max-width: 790px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 24px;
  color: #1E1E1E;
  font-size: clamp(32px, 4vw, 64px);
  font-weight: 600;
}

.hero__text {
  margin-bottom: clamp(40px, 6vw, 80px);

  font-size: clamp(14px, 1.2vw, 18px);
  line-height: 1.4;
  font-weight: 400;
}

.hero-icon {
  width: 24px;
}

.hero__actions {
  display: flex;
  align-items: center;
  gap: clamp(10px, 1.5vw, 16px);
}

.btn--secondary {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
}


.hero__image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hero__blur {
  position: absolute;
 
  width: 400px;
  height: 400px;


  filter: blur(100px);
  transform: translateY(-50%) rotate(30deg);
  border-radius: 50%;

  z-index: -1;
  pointer-events: none;
}

.blur__gren {
   background: radial-gradient(
    circle at center,
    rgba(52, 174, 107, 0.699) 0%,
    rgba(52, 174, 107, 0.551) 45%,
    rgba(52, 174, 107, 0.137) 70%
  );
  left: 10px;
  top: 20%;
}

.blur__blue {
  background: radial-gradient(
    circle at center,
    rgba(37, 135, 249, 0.9) 0%,
    rgba(37, 136, 249, 0.24) 45%,
    rgba(37, 136, 249, 0.014) 70%
  );
  right: 0;
  bottom: -40%;
}


/* target */

.target__container,
.services__container {
  position: relative;
}

.target__container > .blur__blue {
  top: 70%;
  left: 50%;
}

.target__container > .blur__gren {
  top: 48%;
  left: 20%;
}


.target__title {
  max-width: clamp(320px, 60vw, 870px);
  margin-bottom: clamp(30px, 5vw, 60px);

  font-weight: 600;
  font-size: clamp(28px, 4vw, 40px);
  line-height: 1.2;
}

.target__box {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: clamp(16px, 2vw, 24px);
}

.target__box .swiper-slide {
  transform: scale(0.95);
  transition: .3s;
}

.target__box .swiper-slide-active {
  transform: scale(1);
}

.target__box .swiper-wrapper {
  display: contents;
}

.target__box .swiper-slide,
.services__box .swiper-slide {
  height: auto;
  width: auto ;
  margin: 0 ;
}

.target__card {
  padding: clamp(20px, 2vw, 30px);
  border-radius: 24px;

  background: #fff;
  box-shadow: 0 4px 25px rgba(1, 8, 3, 0.08);

  display: flex;
  flex-direction: column;

  transition: 0.3s;
}

.target__card-content {
  flex-grow: 1;
}

.target__card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 40px rgba(0,0,0,0.12);
}

.target__card-title {
    font-weight: 600;
    font-size: clamp(18px, 1.2vw, 24px);
}

.target__card-text {
  font-size: clamp(14px, 1vw, 16px);
  line-height: 1.8;
  color: #555;
}

.target__card--images {
  width: 100%;
}

.target__card--images img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.target__box .swiper-pagination {
  position: relative;
  margin-top: 16px;
  text-align: center;
  display: none;
}

/* сами точки */
.target__box .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #CFCFCF;
  opacity: 1;
  margin: 0 4px;
  transition: 0.3s;
}

/* активная точка */
.target__box .swiper-pagination-bullet-active {
  background: #34AE6B;
  transform: scale(1.2);
}


/*  */

.services .section-title  {
  max-width: clamp(320px, 80vw, 1080px);
}

.services__box {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: clamp(16px, 2vw, 24px);
}


.services__item {
  padding: clamp(20px, 2vw, 30px);
  border-radius: 24px;

  background: #fff;
  box-shadow: 0 4px 25px rgba(1, 8, 3, 0.08);

  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2vw, 24px);

  transition: 0.3s;
}

.services__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0,0,0,0.12);
}

.services__item:nth-child(1){
  background-color: #fff;
} 
.services__item:nth-child(2) {
  background: linear-gradient(282.56deg, #D3E7FE 7.81%, #D5EEE1 89.18%);
} 

.services__item-title {
  font-size: clamp(18px, 1.2vw, 24px);
  font-weight: 600;
}

.services__item-text {
  font-size: clamp(16px, 1vw, 18px);
  line-height: 1.5;
}

.services__group-title {
  margin-bottom: 16px;
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 600;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 18px;
}

.services__list-item {
  font-size: clamp(14px, 1vw, 18px);
   font-weight: 400;
   line-height: 1.3;
   list-style:disc;
}

.services__box .swiper-wrapper {
    display: contents;
  }

.services__box .swiper-pagination {
  position: relative;
  margin-top: 16px;
  text-align: center;
  display: none;
}


.services__box .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #CFCFCF;
  opacity: 1;
  margin: 0 4px;
  transition: 0.3s;
}


.services__box .swiper-pagination-bullet-active {
  background: #34AE6B;
  transform: scale(1.2);
}


/* cases */

.cases {
  position: relative;
  overflow: visible;
}


.cases-container .blur__blue {
  bottom: -80%;
  left: 50%;
}

.cases-container .blur__gren {
  top: 80%;
  left: 10%;
}


.cases__section--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cases__wrapper .card {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px #01080314;
  display: flex;
  align-items: end;
  justify-content: start;
  font-size: 30px;
  padding-left: 24px;
  padding-bottom: 20px;
  transition: 0.3s;
}

.cases__wrapper .card-content {
  position: relative;
  z-index: 2;
}

.cases__wrapper .swiper-slide .slide-category {
  width: max-content;
  margin-bottom: 14px;
  padding: 4px 8px;
  border: 1px solid  #1E1E1E;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 400;
}

.cases__wrapper .slide-category, .slide-title {
  transition: 0.3s;
  color: #1E1E1E;
}

.cases__wrapper .swiper-slide .slide-title {
  margin-bottom: 12px;
  max-width: 299px;
  font-size: clamp(18px, 1.2vw, 24px);
  font-weight: 600;
  line-height: 1.6;
}


.slide-text {
  margin-bottom: 20px;
  font-size: clamp(14px, 1vw, 16px);
  line-height: 1.5;
}

.cases__wrapper .slide-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 600;
}


.slide-link > svg {
  width: 15px;
  height: 15px;
}


.cases__wrapper .swiper-slide-active .slide-category {
  border-color: #fff;
}

.cases__slider .swiper-slide-active .slide-category,
.cases__slider .swiper-slide-active .slide-title {
  color: #ffffff;
}

.cases__btn--block {
  display: none;
}

.cases .section__block .btn {
  display: none;
}

.slide-img {
  width: 350px;
  height: auto;
  object-fit: cover;
  position: absolute;
  height: auto;
  z-index: -1;
}

.slide-img-1 {
  right: 0;
  top: 0;
}

.slide-img-2 {
  right: 0;
  top: -50px;
}

.slide-img-3 {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.cases__slider .swiper-slide {
  min-height: 300px;
  transition: 0.4s;
  transform: scale(.8);
  background: #fff;
  color: #1E1E1E;
}

.cases__slider .swiper-slide-active {
  background: linear-gradient(98.54deg, #34AE6B 3.22%, #2587F9 86.86%);
  box-shadow: 0px 4px 30px 0px #FFFFFF1A;
  transform: scale(1);
  border-radius: 40px;
  color: #fff;
  opacity: 1;
}


.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.12);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s;

  position: absolute;
  top: 50%;
 
  z-index: 10;
}

.swiper-button-prev {
  left: -40px; 
}

.swiper-button-next {
  right: -20px;
}

/* ACTIVE HOVER (по желанию) */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.05);
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 20px;
  height: 20px;
}


.swiper-button-prev:not(.swiper-button-disabled),
.swiper-button-next:not(.swiper-button-disabled) {
  background: #34AE6B;
}

.swiper-button-prev:not(.swiper-button-disabled) svg,
.swiper-button-next:not(.swiper-button-disabled) svg {
  color: #fff;
}


.swiper-button-disabled {
  background: #fff !important;
  opacity: 1 !important; /* убираем мутность Swiper */
}

.swiper-button-disabled svg {
  color: #666666;
}


.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

/* faq  */

.faq__box {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: clamp(20px, 3vw, 60px);
  align-items: start;
}

.faq__list{
  display: flex;
  flex-direction: column;
}

.faq__item {
  margin-bottom: 16px;
  padding: 20px 40px 0 10px;
  background-color: #fff;
  box-shadow: 0px 4px 25px 0px #01080314;
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: none;
  border: none;
  cursor: pointer;
}

.faq__icon {
  display: inline-block;
  color: #1E1E1E;
  transition: 0.3s;
}

.faq__icon::before {
  content: "-";
}

.faq__item.active .faq__icon::before {
  content: "+";
  color: #34AE6B;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
  color: #1E1E1E;
  font-size: clamp(14px, 1vw, 16px);
  line-height: 1.5;
}

/* активное состояние */
.faq__item.active .faq__answer {
  max-height: 200px;
  padding: 0 0px 20px;
}

.faq__item.active .faq__question {
  color: #34AE6B;
}
.faq__images {
  max-width: 480px;
  width: 100%;
}

.faq__images > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}



/* form  */

.form__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  background-color: #fff;
  box-shadow: 0px 4px 25px 0px #01080314;
  border-radius: 30px;
  padding: 40px 0;
}


.form {
  max-width: 600px;
  width: 100%;
}


.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}




@media (max-width: 600px) {
  .form__row {
    grid-template-columns: 1fr;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.form__field input {
  padding: 14px 16px;
  border-radius: 4px;
  color: #1E1E1E;
  background-color: #fff;
  box-shadow: 0px 4px 25px 0px #01080314;
  font-size: 16px;
  transition: 0.3s;
}

/* focus */
.form__field input:focus {
  border-color: #34AE6B;
  outline: none;
}

/* error */
.form__field input.error {
  border-color: red;
}

.form__error {
  font-size: 12px;
  color: red;
  min-height: 14px;
}

/* кнопка */
.form__submit {
  margin-top: 16px;
  width: 100%;
}

/* checkbox */
.form__checkbox {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  line-height: 1.4;
  cursor: pointer;
}


.form__checkbox span > a {
  font-weight: 600;
}

.form__checkbox input {
  display: none;
}

.form__checkmark {
  min-width: 18px;
  height: 18px;
  border: 1px solid #34AE6B;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* галочка */
.form__checkmark::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(0);
  transition: 0.2s;
}

/* checked состояние */
.form__checkbox input:checked + .form__checkmark {
  background: #34AE6B;
  border-color: #34AE6B;
}

.form__checkbox input:checked + .form__checkmark::after {
  transform: rotate(45deg) scale(1);
}

.form__btn--box {
  text-align: center;
}



/* footer */


.footer__top {
  padding-bottom: 73px;
}

.footer__container {
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.footer__container > .blur__gren {
  top: 90%;
  left: 28%;
}

.footer__container > .blur__blue {
  top: 90%;
  right: 18%;
}

.footer__title--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer__title--right {
  position: relative;
}

.footer__img{
  position: absolute;
  right: -20px;
  top: -80px;
  z-index: -1;
}

.footer__line {
  margin-bottom: 40px;
  background:  #E0E0E0;
}

.footer__box {
  display: flex;
  align-items: start;
  gap: 80px;
}

.footer__left {
  max-width: 200px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.footer__left-info {
  max-width: 200px;
  width: 100%;
}

.footer__logo {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.footer__soc--box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__soc--link > img {
  transition: .2s ease-in;
}

.footer__soc--link:hover > img {
  transform: scale(1.3);
}

.footer__center {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__center--box {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__link {
  font-size: 14px;
}

.footer__link:hover {
  color: #34AE6B;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 85px;
}

.footer__list {
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__left--info-top {
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__list-box,
.footer__list-two {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__list-box  .footer__item,
.footer__list-two .footer__item {
  max-width: 148px;
  width: 100%;
}

.footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #666666;
  font-size: 14px;
  font-weight: 600;
}

.footer__copy > a:hover{
  color: #3c3c3c;
}

.footer__left__list {
  display: none;
}


@media (max-width: 1260px) {
  .nav__phone {
    display: none;
  }

}

@media (max-width: 1100px) {
    .burger {
      display: flex;
    } 

  .nav__list {
    padding: 20px;
    position: fixed;
    top: -20px;
    right: -120%; 
    z-index: 999;

    width: 100%;
    min-height: 300px;

    background: linear-gradient(282.56deg, #D3E7FE 7.81%, #D5EEE1 89.18%);
    box-shadow: 0px 4px 25px 0px #01080314;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    flex-direction: column;
    align-items: start;
    justify-content: start;

    transition: 0.3s;
  }

  .nav__list.active {
    right: -30px;
  }

  .nav__right .btn {
    display: none; 
  }

}



@media (max-width: 980px) {
  .faq__box,
  .form__box {
    grid-template-columns: 1fr;
  }

  .faq__images,
  .form__left{
    display: none;    
  }

  .form {
    max-width: 100%;
  }

  .footer__title--right > .btn {
    display: none;
  }

  .footer__box {
    flex-direction: column;
  }

  .footer__center--box {
    width: 70%;
  }

  .footer__left {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .footer__left__list {
    display: flex;
     flex-direction: column;
    gap: 8px;
  }

  .footer__list-two{
    display: none;
  }
}


@media screen and (max-width: 780px){
  .services__box {
    grid-template-columns: 1fr;
  }

  .target__box {
    grid-template-columns: 1fr;
  }

  .target__card {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .target__card--content {
    max-width: 380px;
    width: 100%;
  }
}

@media screen and (max-width: 680px){
  .faq__item {
    padding: 20px 40px 0 10px;
  }
  .footer__left {
    flex-direction: column;
  }

  .footer__left-info{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .footer__soc--box {
    flex-direction: column;
  }

  .footer__center {
    flex-direction: column;
  }

  .footer__right--list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .footer__center--box {
    width: 100%;
  }

  .footer__copy{
    flex-direction: column;
    align-items: start;
  }

  .footer__copy > a {
    margin-bottom: 16px;
  }
}


@media (max-width: 480px) {
  .hero__content {
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .hero__title {
    text-align: center;
  }

  .hero__text {
    text-align: center;
  }

  .hero__actions {
    flex-direction: column;
  }
  .faq__question > span:nth-child(1) {
    max-width: 260px;
    width: 100%;
  }

  .target__box {
    display: block; 
  }

  .target__box .swiper-wrapper {
    display: flex; 
  }

  .target__card,
  .services__item  {
    max-width: 390px;
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .target__card--content {
    max-width: 100%;
    width: 100%;
  }

  .target__box .swiper-pagination {
    display: block;
  }

   .services__box {
    display: block;
  }

  .services__box .swiper-wrapper {
    display: flex;
  }

  .services__box .swiper-pagination {
    display: block;
  }

  .cases__btn--block {
    text-align: center;
    display: block;
  }

  .faq__item {
    align-items: start; 
    padding: 20px 40px 0 10px;
  }
  

  .footer__left--info-top {
    flex-direction: row;
    gap: 20px;
  }
}