<footer class="footer pt-150">
  <div class="container footer__container">
    <div class="hero__blur blur__gren"></div>
    <div class="footer__top">
      <div class="footer__title--box">
        <div class="footer__title--left">
          <h2 class="section-title">
            Единая платформа — максимум эффективности
          </h2>
          <p class="section-text">
            Забудьте о множестве разрозненных сервисов и приложений.
          </p>
        </div>
        <div class="footer__title--right">
          <button class="btn">Получить косультацию</button>
          <img
            src="/assets/images/footer-img.png"
            alt="footer-img"
            class="footer__img"
          />
        </div>
      </div>
    </div>

    <hr class="footer__line" />

    <div class="footer__box">
      <div class="footer__left">
        <div class="footer__left-info">
          <div class="footer__left--info-top">
              <div>
                <img src="/assets/icons/footer-logo.svg" alt="footer-logo" class="footer__logo" />
              </div>
              <div>
                 <a href="tel:+74954142808" class="footer__phone">
                  +7 (495) 414 28 08
                </a>
                <p class="footer__mail--text">b24@bitroid.ru</p>
                <p class="footer__adress--text">
                428038, Чувашская республика, г. Чебоксары, ул. Мате Залка, д 10, офис
                1
                </p>
              </div>
          </div>
          <div class="footer__soc--box">
            <a href="#" class="footer__soc--link">
              <img src="/assets/icons/footer-soc-1.svg" alt="soc__vk" />
            </a>
            <a href="#" class="footer__soc--link">
              <img src="/assets/icons/footer-soc-2.svg" alt="soc__telegram" />
            </a>
            <a href="#" class="footer__soc--link">
              <img src="/assets/icons/footer-soc-3.svg" alt="soc__youtube" />
            </a>
          </div>
        </div>

         <ul class="footer__left__list">
          <li class="footer__item">
            <a href="#" class="footer__link">ОКВЭД</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">дополнительная инфа как в реестре</a>
          </li>
        </ul>
      </div>
      <div class="footer__center">
        <div class="footer__center--box">
           <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">О компании</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Контакты</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Отзывы</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Новости</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Статьи</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Акции</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Вопрос-ответ</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Оплата</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Внедрение CRM</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Создание сайта</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Перенос сайта</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Поддержка сайтов</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link"
              >Решения для государственных организаций</a
            >
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Обучение</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Автоматизация</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Интеграция и настройка</a>
          </li>
        </ul>
        </div>

        <div class="footer__right">
          <div class="footer__right--list">
            <ul class="footer__list-box">
              <li class="footer__item">
                <a href="#" class="footer__link">1С Битрикс лицензия</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Продление лицензий</a>
              </li>
            </ul>
            <ul class="footer__list-box">
              <li class="footer__item">
                <a href="#" class="footer__link">Для партнеров</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Вакансии</a>
              </li>
            </ul>
          </div>
          <ul class="footer__list-two">
            <li class="footer__item">
              <a href="#" class="footer__link">ОКВЭД</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__link">дополнительная инфа как в реестре</a>
            </li>
          </ul>
      </div>
    </div>

      </div>
      
    <hr class="footer__line" />

    <div class="footer__copy">
      <p>
        2026©Bitroid <br /> <br>
        Все права защищены
      </p>
       <a href="#">Политика конфиденциальности</a>
       <a href="#">Пользовательское соглашение</a>
      <div></div>
    </div>
    <div class="hero__blur blur__blue"></div>
  </div>
</footer>
