<header class="header">
  <div class="container header__inner">
    <!-- NAV -->
    <nav class="nav">
        <a href="/" class="header__logo">
          <img src="assets/images/logo.svg" alt="Логотип" loading="lazy">
        </a>
      <ul class="nav__list">

        <li class="nav__item nav__item nav__item--has-dropdown">
          <button class="nav__link nav__toggle">
            Услуги
             <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </button>

          <div class="dropdown">
            <ul class="dropdown__list">
              <li><a href="#" class="dropdown__link">Создание сайтов</a></li>
              <li><a href="/index.html" class="dropdown__link">Сайт+SEO</a></li>
            </ul>
          </div>
        </li>

        <li class="nav__item nav__item--has-dropdown">
          <button class="nav__link  nav__toggle">
            Продукты
             <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </button>

           <div class="dropdown">
            <ul class="dropdown__list">
              <li><a href="#" class="dropdown__link">Дизайн сайта</a></li>
              <li><a href="/index.html" class="dropdown__link">Сайт+SEO</a></li>
            </ul>
          </div>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            Готовые решения
            <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            Кейсы и проекты
            <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            О нас
          <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
          </a>
        </li>

      </ul>

      <!-- RIGHT SIDE -->
      <div class="nav__right">

        <a href="tel:+74954142808" class="nav__phone">
          +7 (495) 414 28 08
        </a>

        <button class="nav__search-btn" aria-label="Поиск">
          <svg class="nav__icon" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </button>

        <button class="btn">
          Обсудить проект
        </button>

      </div>

    </nav>

    <!-- BURGER -->
    <button class="burger" aria-label="Открыть меню">
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>
</header>